<div id="flights-result">
  <div class="container">
    <div class="row flights-result-header stepwizard">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a href="#step-1" class="btn current btn-circle">1</a>
          <p>Departure</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-2" class="btn btn-secondary btn-circle" disabled="disabled">2</a>
          <p>Return</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-3" class="btn btn-secondary btn-circle" disabled="disabled">3</a>
          <p>Passengers</p>
        </div>
        <div class="stepwizard-step">
          <a href="#step-4" class="btn btn-secondary btn-circle" disabled="disabled">4</a>
          <p>Summary</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container flights-result-wrapper">
    <div id="step-1" class="setup-content">
      <div class="row">
        <div class="col-xs-12">
          <div class="select-header">
            <div class="round-type">Select Departure</div>
            <div class="date">SGN <i class="fa fa-plane" aria-hidden="true"></i> BMV, Thu, 22/11/2016</div>
          </div>
          <div class="price-info-bar">
            Pricing is include ticket price and all taxes for all passengers      
          </div>
        </div>
      </div>
      <div id="depature-flights"></div>
    </div>
    <div id="step-2" class="setup-content">
      <div class="row">
        <div class="col-xs-12">
          <div class="select-header">
            <div class="round-type">Select Return</div>
            <div class="date">SGN <i class="fa fa-plane" aria-hidden="true"></i> BMV, Thu, 22/11/2016</div>
          </div>
          <div class="price-info-bar">
            Pricing is include ticket price and all taxes for all passengers      
          </div>
        </div>
      </div>
      <div id="return-flights"></div>
    </div>
    <div id="step-3" class="setup-content">
      <div class="row">
        <div class="col-xs-12">
          <h3>Summary</h3>
          <button class="btn btn-success btn-lg">Book now!</button>
        </div>
      </div>
  </div>
</div>