<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="ct-postfooter text-center">
          <p><%= link_to "2016 © MIDDLE-GUYS", about_index_path, target: "_blank" %> <span>All Rights Reserved</span></p>
        </div>
      </div>
    </div>
  </div>
</footer>