<nav class="navbar navbar-full navbar-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class='logo iflight'></div>
    <div class='logo iflight-text'></div>
  <% end %>
  <div class="pull-xs-right" style="margin-top: 10px;">
    <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Leo Le
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to "Logout", nil, class: "dropdown-item" %>
      </div>
    </div>
  </div>
</nav>