<div id="confirmation-order">
  <div class="row">
    <div class="col-md-12">
      <div class="confirm-header">
        <%= image_tag("airline-ticket.png", alt: "airline ticket") %>
        <div class="thanks">Thanks for your order!</div>
        <p>Booking details has been send to asdfsadf@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row confirm-body">
      <div class="col-md-8 offset-md-2">
        <div class="itinerary">
          <div class="row flight-details-wrapper">
            <div class="col-xs-9">
              <div class="row">
                <div class="col-sm-3 flight-img-logo"><%= image_tag("airlines/jet.png", alt: "Jetstar") %></div>
                <div class="col-sm-9">
                  <h5>SGN <i class="fa fa-long-arrow-right" aria-hidden="true"></i> DAD, 20/11/2016</h5>
                  <p>Vietnam Airline (VN453)</p>
                  <p>23:00 - 24:00</p>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <h5>245.000 VND</h5>
            </div>
          </div>
          <div class="row flight-details-wrapper">
            <div class="col-xs-9">
              <div class="row">
                <div class="col-sm-3 flight-img-logo"><%= image_tag("airlines/vjet.png", alt: "Jetstar") %></div>
                <div class="col-sm-9">
                  <h5>SGN <i class="fa fa-long-arrow-right" aria-hidden="true"></i> DAD, 20/11/2016</h5>
                  <p>Vietnam Airline (VN453)</p>
                  <p>23:00 - 24:00</p>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <h5>245.000 VND</h5>
            </div>
          </div>
        </div>
        <div class="booking-btn">
          <%= link_to "CONTINUE BOOKING", root_path, class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>
