<div id="recently-searching-template" style="display: none;">
  <div class="col-md-4">
    <div class="card place-wrapper">
      <%= image_tag("places/#{random_place_img()}.jpg", alt: "place", class: "card-img-top") %>
      <div class="card-block">
        <h4 class="card-title ori-des">{{depart_flight}} - {{return_flight}}</h4>
        {{#is_round_trip}}
          <p class="card-text date">{{depart_date}} - {{return_date}}</p>
        {{/is_round_trip}}

        {{#is_one_way}}
          <p class="card-text date">{{depart_date}}</p>
        {{/is_one_way}}

        <p class="card-text time-search">at {{search_time}}</p>
        <a href="/<%= I18n.locale%>/orders/new?utf8=✓&itinerary_type={{itinerary_type}}&ori_airport_id={{depart_id}}&des_airport_id={{return_id}}&date_depart={{depart_date}}&date_return={{return_date}}&adult_num={{adult_num}}&child_num={{child_num}}&infant_num={{infant_num}}" class="btn btn-primary"><%= t('views.homes.index.go') %></a>
      </div>
    </div>
  </div>
</div>