<div class="row searching-form-wrapper">
  <div class="col-md-12">
    <div class="container">
      <div class="searching-form">
        <form action="flights/index">
          <div class="row">
            <div class="col-md-12">
              <fieldset class="form-group btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Round Trip
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="options" id="option2" autocomplete="off"> One Way
                </label>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Ho Chi Minh (SGN)">
              </fieldset>
            </div>
            <div class="col-lg-3 col-sm-6">
              <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Buon Me Thuat (BMV)">
              </fieldset>
            </div>
            <div class="col-lg-3 col-sm-6">
              <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Fri, 20/11/2016">
              </fieldset>
            </div>
            <div class="col-lg-3 col-sm-6">
              <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="Thu, 30/11/2016">
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <fieldset class="form-group">
                <input type="text" class="form-control" placeholder="1 Adult">
              </fieldset>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary" style="width: 100%;">Search Flights</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>