<div id="about">
  <div class="row">
    <div class="col-xs-12">
      <div class="header text-center">
        <h4 class="title">MEET THE <span style="color:#EF0F6F;">MIDDLE GUYS</span> TEAM</h4>
      </div>
    </div>
  </div>
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <%= image_tag "team/tang-nguyen-ava-v2.png", width: '100%', height: '340', class: "card-img-top", alt: "Tang Nguyen" %>
            <div class="card-block">
              <h4 class="card-title text-center">Tang Nguyen</h4>
              <div class="social-icons text-center">
                <a href="" target="_blank"><i class="fa fa-facebook-official" style="color:#060684" aria-hidden="true"></i></a>
                <a href="https://about.me/tang.nguyen" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
              </div>
              <p class="card-text personal-message">I am a web developer at MortgageClub currently living in Ho Chi Minh City, Vietnam. My interests range from music to travel. I am also interested in food, movies, and web development.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <%= image_tag "team/leo-ava-v2.png", width: '100%', height: '340', class: "card-img-top", alt: "Tang Nguyen" %>
            <div class="card-block">
              <h4 class="card-title text-center">Leo Le</h4>
              <div class="social-icons text-center">
                <a href="" target="_blank"><i class="fa fa-facebook-official" style="color:#060684" aria-hidden="true"></i></a>
                <a href="https://about.me/leo.le" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
              </div>
              <p class="card-text personal-message">Hey, I’m Leo. I’m a web developer living in Ho Chi Minh City, Vietnam. I am a fan of travel, entrepreneurship, and web development. I’m also interested in programming and football.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <%= image_tag "team/hong-tran-ava-v2.png", width: '100%', height: '340', class: "card-img-top", alt: "Tang Nguyen" %>
            <div class="card-block">
              <h4 class="card-title text-center">Hong Tran</h4>
              <div class="social-icons text-center">
                <a href="" target="_blank"><i class="fa fa-facebook-official" style="color:#060684" aria-hidden="true"></i></a>
                <a href="https://about.me/hongtran" target="_blank"><i class="fa fa-code" aria-hidden="true"></i></a>
              </div>
              <p class="card-text personal-message">Greetings, I’m Hong. I’m a web developer living in Ho Chi Minh City, Vietnam. I am a fan of music, travel, and web development. I’m also interested in football and food.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>