$brand-primary: #EF0F6F;
$brand-second: #255e6d;
$brand-second-lighter: #ffff0f;
$brand-second-darker: #255e6d;
$brand-grey: #80828b;

@import "bootstrap";
@import "jquery-ui";
@import "bootstrap-datepicker3.standalone";
@import "jquery.bootstrap-touchspin";
@import "font-awesome";
@import "animate";
@import "global";
@import "header";
@import "footer";
@import "alert";
@import "homes";
@import "about";
@import "sign_in";
@import "confirmation";
@import "orders";