#confirmation-order {
  .confirm-header {
    text-align: center;
    margin-bottom: 3em;

    img {
      width: 150px;
    }

    .thanks {
      font-size: 2.5rem;
      color: $brand-primary;
    }
  }

  .confirm-body {
    .flight-img-logo {
      img {
        width: 85px;
      }
    }

    .flight-details-wrapper {
      padding: 20px 15px 10px;
      border-bottom: 1px dashed #ccc;

      &:first-child {
        border-top: 1px dashed #ccc;
      }

      p {
        margin-bottom: .5em;
      }
    }

    .booking-btn {
      text-align: center;
      margin-top: 3em;
    }
  }
}