$border-grey: #DDD;

.flights-result-header {
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;

  .stepwizard-row {
    display: table-row;
  }

  .stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
  }

  .stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

  .visited {
    color: #fff;
    background-color: $brand-second-darker;
    border-color: $brand-second-darker;
  }

  .current {
    color: #fff;
    background-color: $brand-second;
    border-color: $brand-second;
  }
}

.bell {
  text-align: center;
  font-size: 2rem;
  color: black;

  &:hover {
    background-color: $brand-second-darker;
  }
}
.select-header {
  text-align: center;

  .round-type {
    font-size: 1.1rem;
  }

  .date {
    font-size: 0.8rem;
  }
}
.flight-result {
  display: block;
  position: relative;
  min-height: 100px;
  padding-top: 30px;
  text-align: center;
  border-radius: 0;
  border-bottom: 1px solid $border-grey;
  -webkit-transition-property: none;
  transition-property: none;

  &:hover {
    background: #F0F0F0;
  }

  img {
    max-width: 60px;
  }

  .depart, .arrive, .arrow-right{
    float: left;
  }

  .depart, .arrive {
    width: 20%;
    display: inline-block;
  }

  .time, .stop-station {
    display: block;
  }

  .time {
    font-size: 1.2rem;
  }

  .stop-station {
    font-size: 1rem;
    color: $brand-grey;
  }

  .price {
    font-size: 1.3rem;
  }

  .arrow-right {
    margin-top: 15px;
    width: 40%;
  }
}

.price-info-bar {
  text-align: center;
  border-bottom: none;
  padding: 0em 2.2em;
  margin-top: 1em;
  line-height: 1.5;
  border-bottom: 1px solid $border-grey;
  padding-bottom: 1em;
  font-size: 0.8em;
  color: $brand-grey;
}