@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: font-url('Roboto-Regular.ttf') format('truetype'),
}

body {
  font-family: Roboto;
}

.has-danger {
  font-size: .8rem;
}