nav.navbar.navbar-light {
  padding: 0 1rem;
}

.navbar-right {
  float: right;
}

.navbar .navbar-brand {
  padding-top: 18px;
  padding-bottom: 9px;
  font-size: 1.7rem;
}

.navbar-nav .nav-link {
  padding-top: 26px;
  padding-bottom: 28px;
}

.navbar-light .navbar-nav .nav-link {
  color: $brand-primary;
}

nav {
  ul.nav.navbar-nav {
    li.nav-item {
      padding-left: 1em;
      padding-right: 1em;
      margin-left: .5em;
      line-height: 44px;

      &:hover {
        background-color: $brand-primary;
        a.nav-link {
          color: white !important;
        }
      }

      a.dropdown-item {
        &:hover {
          background-color: white;
        }
      }
      .img-avatar {
        dth: 44px;
        height: 44px;
        width: 44px;
        margin-right: 5px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s;
        border: 2px solid rgba(0,0,0,0.1);
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
    ul.dropdown-menu {
      a {
        &:hover {
          background-color: #e0e0e0 !important;
        }
      }
    }
  }
}

.dropdown-menu {
  border: 1px solid rgba(195, 195, 195, 0.15);
  border-radius: 0;
  margin: -1px 0 0;
}

/*ul.nav {
  li.dropdown {
    position: relative;
    float: left;
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem;
    margin-left: 1rem;
  }
}

@media (max-width: 543px) {
  ul.nav {
    li.dropdown {
      margin-left: 0;
    }
  }
}*/
