#my-orders {
  .order-container {
    display: block;
    height: 170px;
    margin-bottom: 1em;

    img {
      height: 170px;
      width: 100%;
    }
  }

  @media (max-width: 543px) {
    .image-place {
      display: none;
    }
  }
}