<tr>
   <td valign="top">
      <center>
         <table cellspacing="0" cellpadding="0" width="500" class="w320">
            <tr>
               <td>
                  <table cellspacing="0" cellpadding="0" width="100%">
                     <tr>
                        <td class="mobile-padding" style="text-align:left;">
                           <br>
                           Hi <span style="color:#ff0064"><%= @user.name %></span>,<br>
                           <br>
                           You receive this email because you request to recover your password.
                           <br>
                           <br>
                           Please click on <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), :class=> "important-font" %>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
               <td>
                  <table cellspacing="0" cellpadding="25" width="100%">
                     <tr>
                        <td>
                           &nbsp;
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
      </center>
   </td>
</tr>